.box {
  margin: auto;
  text-align: center;
  display: grid;
  background-color: #0a0a01;
  color: aliceblue;
  width: 400px;
  height: 400px;
}

.square {
  margin: auto;
  display: grid;
  width: 95%;
  height: 95%;
  outline: none;
}

.start {
  margin: auto;
  display: grid;
}
